:root {
  --color-1: #dbf1c8;
  --color-2: #8a8a8a;
  --color-3: #0e3b1c;
  --color-4: #333;
  --color-5: #f9f9f9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 
Original
:root {
  --color-1: #ffffff;
  --color-2: #8a8a8a;
  --color-3: #000000;
  --color-4: #333;
  --color-5: #f9f9f9;
} */

/* 
Cantinho Minas
--color-1: #5eac18;
  --color-2: #0e3b1c;
  --color-3: #fefeff;
  --color-4: #c72226; */
